.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 144px;
    padding-right: 144px;
}

.leftColumn {
    flex: 2;
    padding-right: 20px;
}

.rightColumn {
    flex: 1;
    flex-direction: column;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.rightColumn img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

h1 {
    font-size: 74px;
    font-weight: 500;
    color: rgba(26, 53, 122, 1);
    margin-bottom: 20px;
}

.spanText{
    color:rgba(50, 92, 200, 1);
}

h2, h3 {
    font-size: 28px;
    color: rgba(26, 53, 122, 1);
    margin-bottom: 10px;
}

p {
    font-size: 24px;
    color: rgba(26, 53, 122, 1);
    line-height: 1.8;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding-left: 0;
    padding-bottom: 50px;
    padding-top: 50px;
}

li {
    font-size: 24px;
    color: rgba(26, 53, 122, 1);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

li::before {
    content: '✔️';
    margin-right: 10px;
    color: green;
    font-size: 18px;
}

.imageConteiner {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-start; 
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    width: 260px;
    height: 255px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-bottom: 110px;
    margin-left: 135px;
}

.content {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.date {
    font-size: 14px;
    font-size: 20px;
    font-weight: 500;
    color:rgba(255, 255, 255, 1);
    text-align: end;
    font-weight: bold;
    color: white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    margin-right: 10px;
}

.highlight {
    color: rgba(50, 92, 200, 1);

}
.underSection{
    text-align: start;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 500;
    color:rgba(26, 53, 122, 1);
    width: 100%;
    height: 63px;
    border-radius: 0 0 20px 20px;
    background-color:rgba(255, 255, 255, 0.8);
}

.imageBanner {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    box-shadow: 15px 25px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin-bottom: 82px;
    align-items: center;
    position: relative;
}

.underSectionBanner{
    position: absolute;
    width: 214px;
    height: 52px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(217, 217, 217, 1);
    padding: 5px 15px; 
    border-radius: 20px 0px 20px 0px; 
    color: rgba(26, 53, 122, 1); 
    font-size: 24px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    font-weight: 500;
    text-align: center;
}