.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    padding-bottom: 120px;
    margin-top: 40px;
}

.leftColumn {
    flex: 2;
    padding-right: 20px;
    padding-left: 15px;
}

.rightColumn {
    display: flex;
    align-items: end;
    flex: 1;
    flex-direction: column;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    padding-right: 15px;
}

.rightColumn img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.textContent{
    display: flex;
    width: 100%;
    text-align: start;
    justify-content: start;
    align-items: start;
    position: relative;
    text-wrap: wrap;
    word-break: break-word;
    color: #1A357A;
    line-height: 32px;
    font-size: 24px;
    font-weight: 600;
    padding-left: 6px;
}

h1 {
    font-size: 74px;
    font-weight: 500;
    color: rgba(26, 53, 122, 1);
    margin-bottom: 20px;
}

.imageConteiner {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-start; 
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 260px;
    height: 255px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.content {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    position: relative;
}

.date {
    font-size: 20px;
    font-weight: 500;
    color:rgba(255, 255, 255, 1);
    text-align: end;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    margin-right: 10px;
}

.highlight {
    color: rgba(50, 92, 200, 1);

}
.underSection{
    padding-left: 15px;
    font-size: 20px;
    font-weight: 500;
    color:rgba(26, 53, 122, 1);
    width: 100%;
    height: 63px;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.8);
}

.imageBanner {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    box-shadow: 15px 25px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin-bottom: 82px;
    align-items: center;
    position: relative;
}

.underSectionBanner{
    position: absolute;
    width: 214px;
    height: 52px;
    bottom: 0;
    right: 0;
    background-color: rgba(217, 217, 217, 1);
    padding: 5px 15px; 
    border-radius: 20px 0 20px 0;
    color: rgba(26, 53, 122, 1); 
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
}

.containerForSlider{
    width: 100%;
    padding-left: 15px;
    display: none;
    margin-top: 120px;
}

.containerForSlider > div{
    width: 100% ;

}

.containerForSlider > div > div{
    height: unset;
}

@media (max-width: 997px) {
    .rightColumn{
        display: none !important;
    }
    .imageBanner{
        max-width: clamp(320px, 90vw, 870px);
        height: clamp(186px, 36vh, 600px);
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .leftColumn h1{
        font-size: clamp(24px, 10vw, 78px);
    }
    .containerForSlider{
        display: flex;
    }
}

@media (max-width: 440px) {
    .imageBanner{
        margin-left: 0;
        margin-right: 0;
    }
}