


.tableContainer{
    width: 100%;
    max-height: 1000px;
    display: flex;
    padding: 1.25rem;
    table-layout: fixed;
    position: relative;
    flex-direction: column;
    overflow-y: auto;
}


.chooseAdditionalActionsContainer{
    width: 100%;
    display: flex;
    position: relative;
    height: 39px;
}


.searchContainer{
    flex: 0 0 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}



.searchInput{
    display: block;
    width: 177px;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    margin-left: 6px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.searchInput:focus{
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(128, 189, 255, 0.5);
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}



.doctorTable{
    border-collapse: collapse;
    display: table;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    position: relative;
    margin-top: .75rem;
    margin-bottom: .75rem;
    border: 1px solid #e9ecef;

}



.doctorTable thead,
.doctorTable tbody{
    width: 100%;
    position: relative;
}

.rowOfTHead{
    display: flex;
    width: 100%;
    border-bottom: 2px solid #e9ecef;
    position: relative;
    user-select: none;
}

.rowOfTBody{
    border-top: none;
    width: 100%;
    display: flex;
    position: relative;
}





.rowOfTBody:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.03);
}

.rowOfTBody td{
    padding: 9px 30px 9px 9px;
    font-size: 15px;
    font-weight: 500;
    border-right: 2px solid rgb(233, 236, 239);
    text-align: left;
    display: flex;
    text-wrap: wrap;
    white-space: normal;
    align-items: center;
    word-break: break-all;
    word-wrap: break-word;
    box-sizing: content-box;
}

.rowOfTBody:hover{
    background-color: #e0f3ff !important;

}

.rowOfTHead th{
    padding: 9px 30px 9px 9px;
    box-sizing: content-box;
    font-size: 15px;
    font-weight: 700;
    color: #325CC8;
    display: flex;
    align-items: center;
    border-right: 2px solid rgb(233, 236, 239);
}



.rowOfTHead th span{
    text-transform: lowercase;
}

.rowOfTHead th span:first-letter{
    text-transform: uppercase;
}


.rowOfTBody td:nth-child(1),
.rowOfTHead th:nth-child(1){
    flex: 0 1 5%;
    max-width: 5%;
    text-align: start;
    position: relative;
}


.rowOfTBody td:nth-child(2),
.rowOfTHead th:nth-child(2){
    flex: 0 1 15%;
    max-width: 15%;
    text-align: start;
    position: relative;
}


.rowOfTBody td:nth-child(3),
.rowOfTHead th:nth-child(3){
    flex: 0 1 20%;
    max-width: 20%;
    text-align: start;
    position: relative;
}


.rowOfTBody td:nth-child(4),
.rowOfTHead th:nth-child(4){
    flex: 0 1 10%;
    max-width: 10%;
    text-align: start;
    position: relative;
}


.rowOfTBody td:nth-child(5),
.rowOfTHead th:nth-child(5){
    flex: 0 1 15%;
    max-width: 15%;
    text-align: start;
    position: relative;
}


.rowOfTBody td:nth-child(6),
.rowOfTHead th:nth-child(6){
    flex: 0 1 15%;
    max-width: 15%;
    text-align: start;
    position: relative;
}


.rowOfTBody td:nth-child(7),
.rowOfTHead th:nth-child(7){
    flex: 0 1 10%;
    max-width: 10%;
    text-align: start;
    position: relative;
}


.rowOfTBody td:nth-child(8),
.rowOfTHead th:nth-child(8){
    flex: 0 1 10%;
    max-width: 10%;
    text-align: start;
    position: relative;
}


.actionsButton{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.viewBtn{
    cursor: pointer;
    display: block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: #fff;
    background-color: #16aaff;
    border: none;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    outline: none;
}


.deleteBtn{
    color: #fff;
    background-color: #d92550;
    border: none;
    cursor: pointer;
    display: block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    outline: none;
}

.deleteBtn:hover{
    box-shadow: 0 0.125rem 0.625rem rgba(217, 37, 80, 0.5), 0 0.0625rem 0.125rem rgba(217, 37, 80, 0.6);
}


.viewBtn:hover{
    box-shadow: 0 0.125rem 0.625rem rgba(22, 170, 255, 0.4), 0 0.0625rem 0.125rem rgba(22, 170, 255, 0.5);
}


@media (min-width:0px) and (max-width: 992px) {
    .tableContainer{
        overflow: hidden;
        overflow-x: scroll;
    }

    .doctorTable{
        min-width: 945px;
    }

    .deleteBtn{
        font-size: 13px;
    }

    .rowOfTBody td{
        font-size: 13px;
    }
    .rowOfTHead th{
        font-size: 13px;
    }

    .container{
        padding: 0;
        padding-top: 30px;
    }

}




.sortSvgIconContainer{
    display: flex;
    gap: 2px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    cursor: pointer;
    margin-right: 4px;
}



.sortIcon{
    width: 12px;
    height: 14px;
    fill: black;
    opacity: 0.4;
}

.sortIcon:nth-child(1){
    transform: rotate(-90deg);
}

.sortIcon:nth-child(2){
    transform: rotate(90deg);
}


.paginationPanelContainer{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
}

.statusInfoContainer{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    position: relative;
    flex: 1 1 35%;
}

.paginationButtonsContainer{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    position: relative;
    flex: 1 1 65%;
}

.statusInfoText{
    padding-top: 0.85rem;
    white-space: nowrap;
    font-size: .88rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
}